<a href="https://colab.research.google.com/github/syedmahmed2424/CSV-files-and-Pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data=pd.read_csv("/content/time_series_covid19_confirmed_global (1).csv")
print(data.index)   #index of the file
print(data.columns)

RangeIndex(start=0, stop=285, step=1)
Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/22/22', '5/23/22', '5/24/22', '5/25/22', '5/26/22', '5/27/22',
       '5/28/22', '5/29/22', '5/30/22', '5/31/22'],
      dtype='object', length=865)

Subsetting:

In [4]:
#access the specific column
column_1=data['Lat']
print(column_1)

0      33.939110
1      41.153300
2      28.033900
3      42.506300
4     -11.202700
         ...
280    31.952200
281    39.904200
282    15.552727
283   -13.133897
284   -19.015438
Name: Lat, Length: 285, dtype: float64

In [6]:
#select the Lat and Country/Region columns:
columns=data[['Country/Region','Lat']]
print(columns)
print(columns.head()) #first five values.

           Country/Region        Lat
0             Afghanistan  33.939110
1                 Albania  41.153300
2                 Algeria  28.033900
3                 Andorra  42.506300
4                  Angola -11.202700
..                    ...        ...
280    West Bank and Gaza  31.952200
281  Winter Olympics 2022  39.904200
282                 Yemen  15.552727
283                Zambia -13.133897
284              Zimbabwe -19.015438

[285 rows x 2 columns]
  Country/Region       Lat
0    Afghanistan  33.93911
1        Albania  41.15330
2        Algeria  28.03390
3        Andorra  42.50630
4         Angola -11.20270

In [9]:
#filter for rows where Lat is greater than 10;
Lat_10=data[data['Lat']>10]
print(Lat_10) #it will print the values of Lat column which are greater than 10
print(data['Lat']>10)   #it will only tells us about True and False

    Province/State        Country/Region        Lat        Long  1/22/20  \
0              NaN           Afghanistan  33.939110   67.709953        0
1              NaN               Albania  41.153300   20.168300        0
2              NaN               Algeria  28.033900    1.659600        0
3              NaN               Andorra  42.506300    1.521800        0
6              NaN   Antigua and Barbuda  17.060800  -61.796400        0
..             ...                   ...        ...         ...      ...
276            NaN            Uzbekistan  41.377491   64.585262        0
279            NaN               Vietnam  14.058324  108.277199        0
280            NaN    West Bank and Gaza  31.952200   35.233200        0
281            NaN  Winter Olympics 2022  39.904200  116.407400        0
282            NaN                 Yemen  15.552727   48.516388        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...   5/22/22   5/23/22  \
0          0        0        0        0        0  ...    179716    179716
1          0        0        0        0        0  ...    275864    275881
2          0        0        0        0        0  ...    265854    265855
3          0        0        0        0        0  ...     42572     42572
6          0        0        0        0        0  ...      7942      7982
..       ...      ...      ...      ...      ...  ...       ...       ...
276        0        0        0        0        0  ...    238929    238940
279        2        2        2        2        2  ...  10708887  10710066
280        0        0        0        0        0  ...    657456    657573
281        0        0        0        0        0  ...       535       535
282        0        0        0        0        0  ...     11819     11819

      5/24/22   5/25/22   5/26/22   5/27/22   5/28/22   5/29/22   5/30/22  \
0      179771    179835    179835    180086    180122    180174    180259
1      275939    275985    276012    276048    276081    276101    276101
2      265860    265862    265864    265870    265873    265873    265877
3       42572     42894     42894     42894     42894     42894     42894
6        7982      8062      8119      8119      8119      8119      8163
..        ...       ...       ...       ...       ...       ...       ...
276    238945    238964    238975    238983    238983    238983    239025
279  10711389  10712733  10714008  10715247  10716361  10717251  10718369
280    657573    657573    657573    657573    657573    657573    657573
281       535       535       535       535       535       535       535
282     11819     11819     11819     11819     11819     11819     11822

      5/31/22
0      180347
1      276101
2      265884
3       42894
6        8253
..        ...
276    239028
279  10719379
280    657705
281       535
282     11822

[192 rows x 865 columns]
0       True
1       True
2       True
3       True
4      False
       ...
280     True
281     True
282     True
283    False
284    False
Name: Lat, Length: 285, dtype: bool

In [11]:
Canada_State=data[data['Country/Region']=='Canada']
print(Canada_State)

               Province/State Country/Region      Lat      Long  1/22/20  \
40                    Alberta         Canada  53.9333 -116.5765        0
41           British Columbia         Canada  53.7267 -127.6476        0
42           Diamond Princess         Canada   0.0000    0.0000        0
43             Grand Princess         Canada   0.0000    0.0000        0
44                   Manitoba         Canada  53.7609  -98.8139        0
45              New Brunswick         Canada  46.5653  -66.4619        0
46  Newfoundland and Labrador         Canada  53.1355  -57.6604        0
47      Northwest Territories         Canada  64.8255 -124.8457        0
48                Nova Scotia         Canada  44.6820  -63.7443        0
49                    Nunavut         Canada  70.2998  -83.1076        0
50                    Ontario         Canada  51.2538  -85.3232        0
51       Prince Edward Island         Canada  46.5107  -63.4168        0
52                     Quebec         Canada  52.9399  -73.5491        0
53     Repatriated Travellers         Canada      NaN       NaN        0
54               Saskatchewan         Canada  52.9399 -106.4509        0
55                      Yukon         Canada  64.2823 -135.0000        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/22/22  5/23/22  \
40        0        0        0        0        0  ...   578291   578291
41        0        0        0        0        0  ...   369202   369202
42        0        0        0        0        0  ...        0        0
43        0        0        0        0        0  ...       13       13
44        0        0        0        0        0  ...   143603   143603
45        0        0        0        0        0  ...    64490    64490
46        0        0        0        0        0  ...    45409    45409
47        0        0        0        0        0  ...    12026    12026
48        0        0        0        0        0  ...    94893    94893
49        0        0        0        0        0  ...     3531     3531
50        2        3        3        3        3  ...  1311036  1311036
51        0        0        0        0        0  ...    37124    37124
52        0        0        0        0        0  ...  1061706  1062032
53        0        0        0        0        0  ...       13       13
54        0        0        0        0        0  ...   137967   137967
55        0        0        0        0        0  ...     4349     4349

    5/24/22  5/25/22  5/26/22  5/27/22  5/28/22  5/29/22  5/30/22  5/31/22
40   578291   580881   580881   580881   580881   580881   580881   580881
41   369202   369202   370559   370559   370559   370559   370559   370559
42        0        0        0        0        0        0        0        0
43       13       13       13       13       13       13       13       13
44   143603   143603   144140   144140   144140   144140   144140   144140
45    64490    65258    65258    65258    65258    65258    65258    65258
46    45409    45409    45775    45775    45775    45775    45775    45775
47    12046    12046    12046    12046    12046    12046    12089    12089
48    94893    94893    94893    96477    96477    96477    96477    96477
49     3531     3531     3531     3531     3531     3531     3531     3531
50  1312206  1312810  1313628  1316340  1316953  1317509  1318044  1319553
51    37578    37578    37578    37578    37578    37578    37578    37578
52  1062449  1063033  1063738  1064328  1064905  1065329  1065679  1066195
53       13       13       13       13       13       13       13       13
54   137967   137967   137967   138343   138343   138343   138343   138343
55     4363     4366     4370     4378     4378     4378     4386     4387

[16 rows x 865 columns]

In [15]:
data['sum']=data['Lat']+data['Long']
print(data.head())

  Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/22  5/24/22  5/25/22  \
0        0        0        0        0  ...   179716   179771   179835
1        0        0        0        0  ...   275881   275939   275985
2        0        0        0        0  ...   265855   265860   265862
3        0        0        0        0  ...    42572    42572    42894
4        0        0        0        0  ...    99287    99433    99527

   5/26/22  5/27/22  5/28/22  5/29/22  5/30/22  5/31/22         sum
0   179835   180086   180122   180174   180259   180347  101.649063
1   276012   276048   276081   276101   276101   276101   61.321600
2   265864   265870   265873   265873   265877   265884   29.693500
3    42894    42894    42894    42894    42894    42894   44.028100
4    99527    99527    99527    99527    99761    99761    6.671200

[5 rows x 866 columns]

In [17]:
data[['Lat','Long']].median()  #median of multiple columns

Lat     21.6940
Long    20.9394
dtype: float64

In [20]:
data[['Lat','Long']].describe()

              Lat        Long
count  283.000000  283.000000
mean    20.177865   22.331691
std     25.823619   76.018064
min    -71.949900 -178.116500
25%      4.715658  -21.031300
50%     21.694000   20.939400
75%     40.788284   86.666250
max     71.706900  178.065000

In [22]:
data[['Lat','Long']].agg(['count','mean','std'])  #it is super-efficient

              Lat        Long
count  283.000000  283.000000
mean    20.177865   22.331691
std     25.823619   76.018064